/ZYTreeHole/obj/**
/ZYTreeHole_Models/obj/**
/ZYTreeHole_Models/Migrations/**
/ZYTreeHole_Models/bin/**
/ZYTreeHole_Services/obj/**
/.idea/**
/bin/**
/obj/**
/Properties/**
/packages/**
/TestResults/**