/ZYTreeHole/obj/**
/ZYTreeHole/bin/**
/ZYTreeHole_Models/obj/**
/ZYTreeHole_Models/Migrations/**
/ZYTreeHole_Models/bin/**
/ZYTreeHole_Services/obj/**
/ZYTreeHole_Services/bin/**
/.idea/**
/bin/**
/obj/**
/Properties/**
/packages/**
/TestResults/**
/ZYTreeHole_Share/obj/**
/ZYTreeHole_Share/bin/**
/ZYTreeHole.Tests/obj/**
/ZYTreeHole.Tests/bin/**
app.db
app1.db
ZYTreeHole.sln.DotSettings.user